<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Adventum.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
    <userSettings>
        <Adventum.Properties.Settings>
            <setting name="limitParticles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showFps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showTutorial" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableAudio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="desaturate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lightingEffects" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="volume" serializeAs="String">
                <value>1</value>
            </setting>
        </Adventum.Properties.Settings>
    </userSettings>
</configuration>
